*{
   
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    

}

h1{
    margin-bottom: 40px;
    font-weight: 500px;
}

.container-items{
    background-color: aliceblue;
    border-left: 1px solid #c6d8fa;
    border-bottom:1px solid #c6d8fa ;
    padding: 45px 180px;
    text-align: center;

}

input[type=text],input[type=password],input[type=number] {
margin: 2px 0;
background-color: #c6d8fa;
padding: 10px;


}

.main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-send{
height: 20px;
text-align: center;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
width: 80%;
background-color: #fff8b5;
border: 1 solid #ffb13d;
padding: 16px;
margin-top: 25px;
transition: 1s;
}
.btn-send:hover{
background-color: #ffb13d;   
}

.erro{
    border: 2px solid red;

}
.errM{
    color:red;


}
.hidden{
    display: none;
}
small{

}
