*{
   
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    

}

h1{
    margin-bottom: 40px;
    font-weight: 500px;
}

.container-items{
    background-color: aliceblue;
    padding: 65px 140px;
}

input[type=text],input[type=password] {
margin-bottom: 2px;
background-color: rgb(198, 216, 250);
padding: 8px;
margin-left: 20px;

}

.main-btn {
    display: flex;
    justify-content: center;
}

.btn-send{
background-color: #c6d8fa;
border: 1 solid #95adda;
padding: 16px;
width: 50%;
margin-top: 5px;
}

.erro{
    border: 2px solid red;

}
.errM{
    color:red;

}
.hidden{
    display: none;
}
small{
    margin:20px;
}